@model FelixNetCoreAppDemo.Models.Department
@using Microsoft.Extensions.Options
@using FelixNetCoreAppDemo
@inject IOptions<ConfigOptions> options
    <tr>
        <!-- judge the employee count, if it is more than the count of configure  acount, it should be shown using bold font-->
        @if (Model.EmployeeCount > options.Value.BoldDepartmentEmployeeCountIfMoreThan)
        {
            <td><strong>@Model.Name</strong></td>
        }
        else
        {
            <td>@Model.Name</td>
        }

        <td>@Model.Location</td>
        <td>@Model.EmployeeCount</td>

        <td>
            <a asp-controller="Employee" asp-action="Index" asp-route-departmentId="@Model.Id">Employees</a>
        </td>
    </tr>